html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(1, 65, 15);
    font-size: 40px;
    text-align: center;
}

.header {
    background-color: lightgray;
    padding: 20px;
    width: 100%;
}

#buttons {
    margin: 20px;
    text-align: center;
}   